<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations - Travel Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>

<!-- header design -->
<header class="header">
    <!-- Logo navigates to index -->
    <a href="{{ url_for('index', user_id=user_id) }}" class="logo">AYAHAB<span>Tourism</span></a>
    
    <nav class="navbar">
        <div id="nav-close" class="fas fa-times"></div>
        <!-- Navbar links -->
        <a href="{{ url_for('index', user_id=user_id) }}">home</a>
        <a href="adventure.html">Adventure</a>
        <a href="map.html">map</a>
        <a href="products.html">Products</a>
        <a href="about.html">about us</a>
    </nav>



   
    <div class="icons">
        <div class="row">
            <div class="row-image">
                <img src="{{ url_for('static', filename='img/propil.png') }}" alt="pepeq">
            </div>      
        </div>
</div>
    

</header>


<section class="Culture">
    <div class="Culture-img">
        <img src="{{ url_for('static', filename='img/t3.jpg') }}" alt="pepeq">
    </div>

    <div class="Culture-text">
       
        <h5>{{ searched_place['Place_Name'] }}</h5>
        <h2>{{ searched_place['City'] }}</h2>  
        <p>Rating :  <i class="fas fa-star"></i>  {{ searched_place['Rating'] }}</p>
        <p>Price : Rp. {{ searched_place['Price'] }}</p>
        <p>{{ searched_place['Description'] }}</p>
    </div>
</section>

<!-- Section for recommendations -->
<section class="tour">
    <div class="center-text">
        <h2>Recommended Places</h2>
    </div>

    <div class="tour-content">
        {% for place in recommendations %}
        <div class="box">
            <img src="{{ url_for('static', filename='img/t2.jpg') }}" alt="Place Image">
            <h4>{{ place['City'] }}</h4>
            <h6>{{ place['Place_Name'] }}</h6>
            <div class="layout-prices">
                <p><i class="fas fa-star"></i> {{ place['Rating'] }}</p>
                <p>Price: Rp.{{ place['Price'] }}</p> 
            </div>
        </div>
        {% endfor %}
    </div> 
    <div class="center-btn">
        <a href="#" class="btn">See Tours</a>
    </div>
</section>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/ancu.js') }}"></script>
</body>
</html>
